<% @user.reviews.each do |review| %>
  <section id="review-<%= review.id %>">
    <h3><%= review.title %></h3>
    <h4><%= link_to review.book.title, book_path(review.book) %></h4>
    <img src="<%= review.book.image_url %>" alt="<%= review.book.title %>">
    <p>Rating: <%= review.rating %></p>
    <p><%= review.text %></p>
    <p>Date: <%= review.created_at %></p>
    <%= link_to "Delete Review", review_path(review), method: :delete %>
  </section>
<% end %>
