<section id="user-show-wrapper">

  <section id="sorting-links">
    <h1><%= @user.name %></h1>
    <p> <%= link_to "Sort By Newest", user_path(@user, order: "new") %> </p>
    <p> <%= link_to "Sort By Oldest", user_path(@user) %> </p>
  </section>

  <% @reviews.each do |review| %>
    <section class= 'individual-review' id="review-<%= review.id %>">
      <h3><%= review.title %></h3>
      <img src="<%= review.book.image_url %>" alt="<%= review.book.title %>">
      <h4><%= link_to review.book.title, book_path(review.book) %></h4>
      <p>Rating: <%= review.rating %></p>
      <p><%= review.text %></p>
      <p>Date: <%= review.created_at %></p>
      <%= link_to "Delete Review", review_path(review), method: :delete %>
    </section>
  <% end %>
</section>
