<nav id="sorting-links">
  <%= link_to "Average Rating Ascending", books_path(sort: "ratings", order: "asc") %>
  <%= link_to "Average Rating Descending", books_path(sort: "ratings", order: "desc") %>
  <%= link_to "Page Count Ascending", books_path(sort: "page count", order: "asc") %>
  <%= link_to "Page Count Descending", books_path(sort: "page count", order: "desc") %>
  <%= link_to "Number of Reviews Ascending", books_path(sort: "number of reviews", order: "asc") %>
  <%= link_to "Number of Reviews Descending", books_path(sort: "number of reviews", order: "desc") %>
</nav>

<section id="books">
  <h3>All Books</h3>

  <% @books.each do |book| %>

    <section class="individual-book" id="book-<%= book.id %>">
      <p><%= link_to book.title, book_path(book) %></p>
      <img src="<%= book.image_url %>" alt="<%= book.title %>">

      <% book.authors.each do |author|%>
        <p> <%= author.name %> </p>
      <% end %>

      <p>Page Count: <%= book.pages %></p>
      <p>Year Published: <%= book.year_published %></p>
      <p>Average Rating: <%= book.average_rating %></p>
      <p>Number of reviews: <%= book.number_of_reviews %></p>
    </section>
  <% end %>
</section>
