<section id="books">
  <h3>All Books</h3>

  <% @books.each do |book| %>
    <section id="book-<%= book.id %>">
      <p><%= book.title %></p>

      <% book.authors.each do |author|%>
        <p> <%= author.name %> </p>
      <% end %>

      <p><%= book.pages %></p>
      <p><%= book.year_published %></p>
    </section>
  <% end %>
</section>
