<% if @book.errors %>
<ul id="errors">
  <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<% if @error_msg %>
  <h1> <%= @error_msg %> </h1>
<% end %>

<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <p>Author(s):</p>
  <input type="text" value="" name="book[authors]" id="book_authors">

  <%= f.label :pages %>
  <%= f.number_field :pages %>

  <%= f.label :year_published %>
  <%= f.number_field :year_published %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.submit %>
<% end %>
