<section id="book-show-wrapper">
  <section class="book" id="book-<%= @book.id %>">
    <p>Title: <%= @book.title %></p>
    <p>Author(s):
      <% @book.authors.each do |author| %>
        <%= link_to author.name, author_path(author) %>
      <% end %>
    </p>
    <img src="<%= @book.image_url %>" alt="<%= @book.title %>">
    <p>Pages: <%= @book.pages %></p>
    <p>Year Published: <%= @book.year_published %></p>

    <p> <%= link_to "Add New Review", new_book_review_path(@book) %> </p>

    <p><%= link_to "Delete Book", book_path(@book), method: :delete %></p>
  </section>

  <section id="statistics">
    <h2>Book Statistics</h2><br>
    <h3 id="average-rating">Average Rating: <%= @book.average_rating %></h3><br>

    <h4>Top Rated Reviews:</h4>
    <% @top_reviews.each do |review| if @top_reviews %>
      <div class="review-stats" id="top-review-<%= review.id %>">
        <h5>Title: <%= review.title %></h5>
        <p>Rating: <%= review.rating %></p>
        <p>User Name: <%= link_to review.user.name, user_path(review.user) %></p>
      </div>
    <% end %>
    <br>

    <h4>Lowest Rated Reviews:</h4>
    <% @bottom_reviews.each do |review| if @bottom_reviews %>
      <div class="review-stats" id="bottom-review-<%= review.id %>">
        <h5>Title: <%= review.title %></h5>
        <p>Rating: <%= review.rating %></p>
        <p>User Name: <%= link_to review.user.name, user_path(review.user) %></p>
      </div>
    <% end %>
  </section>
</section>

<section id="reviews">
  <h2 id="reviews-header">Reviews: </h2>
  <% @book.reviews.each do |review| if @book.reviews %>
    <section class="review" id="review-<%= review.id %>">
      <p>Title:  <%= review.title %> </p>
      <p>User Name:  <%= link_to review.user.name, user_path(review.user) %> </p>
      <p>Rating:  <%= review.rating %> </p>
      <p>Text:  <%= review.text %> </p>
    </section>
  <% end %>
</section>
