<section id="book-<%= @book.id %>">
  <p>Title: <%= @book.title %></p>
  <p>Author(s):
    <% @book.authors.each do |author| %>
      <%= link_to author.name, author_path(author) %>
    <% end %>
  </p>
  <img src="<%= @book.image_url %>" alt="<%= @book.title %>">
  <p>Pages: <%= @book.pages %></p>
  <p>Year Published: <%= @book.year_published %></p>

  <p> <%= link_to "Add New Review", new_book_review_path(@book) %> </p>

  <section id="statistics">
    <h4 id="average-rating">Average Rating: <%= @book.average_rating %></h4>

    <% @top_reviews.each do |review| %>
      <div id="top-review-<%= review.id %>">
        <h4><%= review.title %></h4>
        <p><%= review.rating %></p>
        <p><%= link_to review.user.name, user_path(review.user) %></p>
      </div>
    <% end %>

    <% @bottom_reviews.each do |review| %>
      <div id="bottom-review-<%= review.id %>">
        <h4><%= review.title %></h4>
        <p><%= review.rating %></p>
        <p><%= link_to review.user.name, user_path(review.user) %></p>
      </div>
    <% end %>
  </section>

  <% @book.reviews.each do |review| %>
    <section id="review-<%= review.id %>">
      <p>Title:  <%= review.title %> </p>
      <p>User Name:  <%= link_to review.user.name, user_path(review.user) %> </p>
      <p>Rating:  <%= review.rating %> </p>
      <p>Text:  <%= review.text %> </p>
    </section>
  <% end %>

  <%= link_to "Delete Book", book_path(@book), method: :delete %>
</section>
