<section id="book-<%= @book.id %>">
  <p>Title: <%= @book.title %></p>
  <p>Author(s): <%= @book.author %></p>
  <p>Pages: <%= @book.pages %></p>
  <p>Year Published: <%= @book.year_published %></p>
</section>
