<section id="book-<%= @book.id %>">
  <p>Title: <%= @book.title %></p>
  <p>Author(s):
    <% @book.authors.each do |author| %>
      <%= author.name %>
    <% end %>
  </p>
  <img src="<%= @book.image_url %>" alt="<%= @book.title %>">
  <p>Pages: <%= @book.pages %></p>
  <p>Year Published: <%= @book.year_published %></p>

  <% @book.reviews.each do |review| %>
    <section id="review-<%= review.id %>">
      <p>Title:  <%= review.title %> </p>
      <p>User Name:  <%= link_to review.user.name, user_path(review.user) %> </p>
      <p>Rating:  <%= review.rating %> </p>
      <p>Text:  <%= review.text %> </p>
    </section>
  <% end %>


</section>
