<section class="form-wrapper" id="new-review-form-wrapper">
  <%= form_for [@book, @review] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :user %>
    <%= f.text_field :user %><br>

    <%= f.label :rating %>
    <%= f.number_field :rating %><br>

    <%= f.label :text %>
    <%= f.text_field :text %><br>

    <%= f.submit %>
  <% end %>
</section>
