<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <h1>Book Club </h1>
      <%= link_to "Add New Book", new_book_path %>
      <%= link_to "Books", books_path %>
      <%= link_to "Home", root_path %>
    </nav>
    <%= yield %>
  </body>
</html>
